<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock title%}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/buhomylinks/css/blueprint/screen.css') }}" type="text/css" rel="stylesheet" media="screen, projection">
            <link href="{{ asset('bundles/buhomylinks/css/blueprint/print.css') }}" type="text/css" rel="stylesheet" media="print"> 
            <!--[if lt IE 8]>
              <link rel="stylesheet" href="{{ asset('bundles/buhomylinks/css/blueprint/ie.css') }}" type="text/css" media="screen, projection">
            <![endif]-->
            <link href="{{ asset('bundles/buhomylinks/css/custom/layout.css') }}" type="text/css" rel="stylesheet" media="screen, projection">
            <link href='http://fonts.googleapis.com/css?family=Risque' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Peralta' rel='stylesheet' type='text/css'>
        {% endblock stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div class="container">
                <div class="span-6 grey">
                    <div class="left-bar">
                        <h2 id="site-name">
                            <a href="{{ path('buho_mylinks_home') }}">My Links</a>
                        </h2>
                        <h4 id="current-page">
                            {% block header_title %} {% endblock header_title %}
                        </h4>
                        {% block left %}
                           <ul >
                               <li><a href="{{ path('buho_mylinks_link_new') }}">New Link</a></li>
                               <li>some link 2</li>
                               <li>some link 3</li>
                           </ul>
                        {% endblock left %}
                    </div>
                </div>
                <div class="span-18 last">
                
                    {% block header %}
                    <nav id="top-navigation">
                        <ul>
                            <li><a href="{{ path('buho_mylinks_home') }}">Home</a></li>
                            <li><a href="#">Categories</a></li>
                            <li><a href="#">Best Of</a></li>
                            <li><a href="{{ path('buho_mylinks_about') }}">About</a></li>
                            <li><a href="{{ path('buho_mylinks_contact') }}">Contact</a></li>
                            {% if app.user %}
                                <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                            {% else %}
                                <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                            {% endif %}    
                        </ul>
                    </nav>
                    {% endblock header %}
                    <hr>
                    {% block center %}center block{% endblock center %}
                </div>
                <div class="span-24">
                    {% block footer %}footer{% endblock footer %}
                </div>
            </div>
        {% endblock body %}
        {% block javascripts %}{% endblock javascripts %}
    </body>
</html>
