{% extends 'BuhoMylinksBundle::layout.html.twig' %}

{% block header_title %}{{ link.description }}{% endblock header_title %}

{% block center %}
    <article class="link">
        <header>
            <div class="date"><time datetime="{{ link.created|date('c') }}">{{ link.created|date('l, F j, Y') }}</time></div>
            <h2>{{ link.description }}</h2>
        </header>
        <div>
            <p>{{ link.uri }}</p>
        </div>
    </article>
    <section class="comments" id="comments">
        <section class="previous-comments">
            <h3>Comments</h3>
            {% include 'BuhoMylinksBundle:Comment:index.html.twig' with { 'comments': comments } %}
        </section>
        <h3>Add Comment</h3>
        {% render controller('BuhoMylinksBundle:Comment:new', { 'link_id': link.id }) %}
    </section>
{% endblock center %}