{% extends 'BuhoMylinksBundle::layout.html.twig' %}

{% block header_title %}Homepage{% endblock header_title %}

{% block center %}
    {% for link in links %}
        <article class="link">
            <div class="date"><time datetime="{{ link.created|date('c') }}">{{ link.created|date('l, F j, Y') }}</time></div>
            <header>
                <h2><a href="{{ path('buho_mylinks_link_show', { 'id': link.id }) }}">{{ link.description }}</a></h2>
            </header>

            <div class="snippet">
                <p>{{ link.uri }}</p>
                <p class="continue"><a href="{{ path('buho_mylinks_link_show', { 'id': link.id }) }}">Continue reading...</a></p>
            </div>

            <footer class="meta">
                <p>Comments: -</p>
                <p>Posted by <span class="highlight">{# link.user_id #}</span> at {{ link.created|date('h:iA') }}</p>
                <p>Tags: <span class="highlight">{{ link.tags }}</span></p>
            </footer>
        </article>
    {% else %}
        <p>There are no links entries</p>
    {% endfor %}
{% endblock center %}