{% extends 'BuhoMylinksBundle::layout.html.twig' %}

{% block header_title %}Homepage{% endblock header_title %}

{% block center %}
    {% for link in links %}
        <article class="link {{ cycle(['odd', 'even'], loop.index0) }}">
            <header>
                <div class="date"><time datetime="{{ link.created|date('c') }}">{{ link.created|date('l, F j, Y') }}</time></div>
                <div class="link-title"><h3><a href="{{ path('buho_mylinks_link_show', { 'id': link.id }) }}">{{ link.title }}</a></h3></div>
                <div class="link-uri"><em><a href="{{ link.uri }}" target="blank">{{ link.uri }}</a></em></div>
                <div class="link-description">{{ link.description }}</div>
            </header>
            <footer class="meta">
                <ul>
                    <li><span class="loud">Posted by </span>{{ link.user.username }} at {{ link.created|date('h:iA') }}</li>
                    <li><span class="loud">Tags: </span>{{ link.tags }}</li>
                    <li>
                        <a href="{{ path('buho_mylinks_link_show', { 'id': link.id }) }}#comments">
                            <img src="{{ asset('bundles/buhomylinks/images/icons/49handdrawing/1364738697_comment.png') }}" width="15" height="15"> 
                                {{ link.comments | length }}
                        </a>
                     </li>
                </ul>
            </footer>
        </article>
    {% else %}
        <p>There are no links entries</p>
    {% endfor %}
{% endblock center %}